<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.m2m.trello.mapper.LoginMapper">

	<resultMap id="MemberDtoMap" type="MemberDto">
	  <result column="member_id" property="memberId"/>
	  <result column="reg_date" property="regDate"/>
	</resultMap>

  <select id="findByEmail" resultMap="MemberDtoMap">
    SELECT member_id
         , name
         , email
         , password
         , reg_date
      FROM member
     where email = #{email, jdbcType=VARCHAR}
  </select>
  
  <insert id="save" parameterType="MemberDto">
		INSERT INTO member(name, email, password, reg_date)
		VALUES (
			#{name, jdbcType=VARCHAR},
			#{email, jdbcType=VARCHAR},
			#{password, jdbcType=VARCHAR},
			now()
		)
		<selectKey keyProperty="memberId" resultType="Integer">
	    SELECT LAST_INSERT_ID()
	  </selectKey>
  </insert>
  
</mapper>